<div id="entities">
  <% @entities.each do |entity| %>
    <%= render entity %>
    <p>
      <%= link_to "Show this entity", group_entities_path(entity.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New entity", new_entity_path %>
