<nav class="group-header"> 
  <%= link_to "BACK", group_path(@group), class: "link-header" %>
  <p class="header-title">Details</p>
  <%= button_to "REMOVE", @entity_group, method: :delete, class: "btn-header" %>
</nav>

<%= render @entity %>