<h1>This is Category Page</h1>

<% @groups.each do |category| %>
  <section class='icon_section'>
    <div class='img_box'>
      <img src='<%= category.icon %>' alt='Group Icon' class='img_icon'>
    </div>
    <p class='icon_name'><%= link_to category.name, group_entities_path(category) %></p>
    <p class='total_cash'>$<%= category.entities.sum(:amount) %></p>
  </section>
<% end %>

<button>
  <%= link_to 'Add Category', new_group_path %>
</button>