<h1>Page to create a new Category</h1>
<%= form_for @group, url: user_groups_path do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :icon, placeholder: 'Icon Link' %>
  <%= f.submit 'Submit' %>
<% end %>