/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
}

body {
  color: #434b54;
  font-family: sans-serif;
}

#home_page {
  height: 100vh;
  display: grid;
  grid-template-rows: 65% 35%;
}

.home_page {
  margin: auto 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.log_btn {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
}

.btn {
  padding: 0.85rem;
  border-radius: 2px;
  border: none;
}

.login_btn {
  background-color: #3778c2;
}

.signup_btn {
  background-color: #fff;
}

.login_btn a {
  color: #fff;
}

.login_btn a,
.signup_btn a {
  text-decoration: none;
  font-weight: 400;
}

.signup_btn a {
  color: #434b54;
}

.login_head {
  display: flex;
  height: 40px;
  background-color: #3778c2;
  color: #fff;
  padding: 10px;
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: flex-end;
}

.login_head a {
  color: #fff;
  text-decoration: none;
}

.form_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div input {
  width: 90%;
  padding: 0.5rem 0.625rem;
  border: none;
  background-color: #fff;
}

.partial-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_section {
  border: 2px solid red;
  margin: 0.75rem;
}

.img_box {
  border: 2px solid greenyellow;
  width: 50px;
  height: 50px;
}

.img_icon {
  width: 100%;
  height: 100%;
}
